<div fxLayout="column" class="p-5">

  <form class="addForm" fxFlex="100" (submit)="addTask(form.value)" [formGroup]="form" fxLayou="column">

    <legend style="font-size: 100px; color: #726255; padding-bottom: 40px; line-height: 100px;">Plan to succeed, organize to achieve.</legend>

    <mat-form-field style="height: 120px; width: 300px">
      <mat-label>Task description</mat-label>
      <input matInput type="text" required placeholder="" formControlName="description">
    </mat-form-field>
    <button mat-button type="submit" style="font-size: 60px; color: #726255;">add task</button>
  </form>

  <div fxLayout="row">

    <mat-list style="padding-top: 80px;"  dense fxFlex="50">
      <h3 mat-subheader>
        <span style="font-size: 48px; color: #726255; text-decoration: underline;;">To do</span><button mat-icon-button (click)="refresh()">
          <mat-icon class="mat-18">refresh</mat-icon>
        </button>
      </h3>

      <mat-list-item *ngFor="let task of todosList" ngClass="{'strike-through':task.done}">
        <div fxLayout="row">
          <span style="font-size: 48px; padding: 20px;" class="me-auto">{{task.description}}</span>
          <div>
            <button style="background-color: #726255;" mat-fab (click)="checkOff(task)" color="primary">
              <mat-icon  class="mat-18">done</mat-icon>
            </button>
            <button style="background-color: #726255;" mat-fab (click)="editTask(task)" color="primary">
              <mat-icon class="mat-18">edit</mat-icon>
            </button>
            <button style="background-color: #726255;" mat-fab (click)="deleteTask(task)" color="primary">
              <mat-icon class="mat-18">delete</mat-icon>
            </button>

          </div>
        </div>
      </mat-list-item>
    </mat-list>
    <mat-list  style="padding-top: 85px;" dense fxFlex="50">
      <h3 style="font-size: 64px; color: #726255; text-decoration: underline;" mat-subheader>Done List</h3>
      <mat-list-item *ngFor="let task of doneList" ngClass="{'strike-through':task.done}">
        <div fxLayout="row">
          <span class="me-auto">{{task.description}}</span>
          <div class="buttons">
            <button mat-fab (click)="deleteTask(task)" color="primary">
              <mat-icon class="mat-18">delete</mat-icon>
            </button>

            <button mat-fab (click)="checkOff(task)" color="primary">
              <mat-icon class="mat-18">done</mat-icon>
            </button>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>