<nav style="display:flex " class="p-3 navbar"  >
  <!-- home,about,contact,signin, tasks -->

  <span class="one"><a mat-button routerLink="home" routerLinkActive="router-link-active">home</a></span>
  <span class="two"><a mat-button routerLink="about" routerLinkActive="router-link-active">about</a></span>
  <span class="three"><a mat-button routerLink="contact" routerLinkActive="router-link-active">contact</a></span>
  <span class="four"><a mat-button routerLink="signin" routerLinkActive="router-link-active">signin</a></span>
  <span class="five"><a mat-button routerLink="tasks" routerLinkActive="router-link-active">tasks</a></span>
  <span style="margin-left:auto"><img style="width: 30px; height: 30px;" src="/assets/check.png" alt="Yellow Checkmark" class="yellow-checkmark" />
  </span>

</nav>
