.one{
  color: #726255;
  padding-right: 40px;
}
.two{
  color: #726255;
  padding-right: 40px;
}
.three{
  color: #726255;
  padding-right: 40px;
}
.four{
  color: #726255;
  padding-right: 40px;
}
.five{
  color: #726255;
  padding-right: 40px;
}
#img{
  width: 24px; /* Set the same width as your navigation buttons */
  height: 24px; /* Set the same height as your navigation buttons */
  margin-left: auto;
}