
  <div class="contact-us">

<div class="right" style="padding-top: 200px;">

  <div class="image">
    <figure>
    <img style="width: 600px; height: 600px; "src="/assets/map.png" alt="Map Image">
    <figcaption>Nodebucket Location, Google Maps</figcaption>
    </figure>
  </div>

</div>

<div class="left">

  <div class="contact-info">
    <h2 style="font-size: 36px;">Contact Information</h2>
    <ul>
      <li>
        <img style="width: 30px; height: 30px;" src="/assets/phone.png" alt="Phone Icon">
        402.293.2000
      </li>
      <li>
        <img style="width: 30px; height: 30px;" src="/assets/address.png" alt="Address Icon">
        1000 Galvin Road South, Bellevue, Nebraska 68005
      </li>
      <li>
        <img style="width: 30px; height: 30px;"  src="/assets/email.png" alt="Email Icon">
        BRUINSupportServices@bellevue.edu
      </li>
    </ul>
  </div>

  <div class="half-circle"></div>

</div>

<div class="feedback-text">
  Your feedback is important to us.
</div>

</div>

