<div class="signin-page w-100 h-100 p-3">

  <!-- input fr number and submit button-->
  <form style="padding-left: 20%;" (submit)="doSignin($event)" [formGroup]="form" class="hi w-200">
    <legend style="font-size: 70px; line-height: 100%;">Please sign in to view your tasks</legend>

    <mat-form-field class="example-full-width">

      <mat-label>Employee ID</mat-label>
      <input style="font-size: 36px;" name="employeeId" type="email" matInput formControlName="employeeId" placeholder="#####">

      <mat-error *ngIf="form?.get('employeeId')?.hasError('required')">
      <br /> Employee ID is <strong> required.</strong>
      </mat-error>

      <mat-error *ngIf="form?.get('employeeId')?.hasError('employeeIdInvalid')">
       <br />  Please enter a valid employee ID.  </mat-error>
    </mat-form-field>
    <button style="font-size: 48px; color: #726255;" mat-button type="submit" class="signInButton">Sign In</button>
  </form>
</div>