.hi{
  margin-top: 500px;
  margin-left: 20px;
}

.signin-page {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* This ensures the background image covers the entire viewport height */
}