<div fxLayout="row" class="home-container w-full h-full p-3">
  <div class="left" fxFlex="50%" fxLayout="column" fxLayoutGap="10">

    <div class="small-box  mt-auto w-25">
      <h2>Lorem ipsum dolor sit amet.</h2>
    </div>

    <div class="large-box  mb-5 w-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
      consequuntur provident ipsum repudiandae neque! Similique porro, reprehenderit voluptas non doloremque quis
      laborum modi, recusandae delectus consequuntur dolorum! Praesentium soluta repudiandae adipisci obcaecati atque
      quo? Quod, dolor? Sequi neque delectus beatae.</div>
  </div>

  <div class="right position-relative" fxFlex="50%">
    <a href="" mat-button class="position-absolute" style="bottom:80px;right:80px">learn more</a>
  </div>

</div>