<div fxLayout="row" class="home-container w-full h-full p-3 background-image">


<div fxLayout="row" class="home-container w-full h-full p-3 ">
  <div class="left" fxFlex="50%" fxLayout="column" fxLayoutGap="10">

    <div class="small-box  mt-auto w-30">
      <p>Welcome to Nodebucket.</p>
    </div>

    <div class="large-box  mb-5 w-100">The better way to manage new and existing projects.</div>
  </div>

  <div class="right position-relative" fxFlex="50%">
    <a routerLink="/about" mat-button class="position-absolute" style="bottom:80px;right:80px; font-size: 36px;">Learn More</a>
  </div>

</div>


</div>